<!--
  Generated template for the EnigmaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="enigma">{{ enigma.numero }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h6 *ngIf="usuario">Sua pontuação: {{ usuario.pontuacao }} pts</h6>
  <ion-grid *ngIf="enigma">

      <ion-row>
          <ion-col col-12>

                <ion-card color="nigma" class="card-enigma">
                    <h4 ng-if="enigma.descricao">
                        {{ enigma.descricao }}
                    </h4>

                    <img ng-if="enigma.img" src="{{ enigma.img }}">
                    <p *ngIf="enigma.dica.status">Dica: {{ enigma.dica.texto }}</p>
                    <p *ngIf="enigma.status">Resposta: {{ enigma.resposta }}</p>
                </ion-card>

          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
            <ion-card color="dark">
                <button [disabled]="enigma.dica.status" ion-button outline color="nigma" block (click)="obterDica()">Obter dica por 50 pontos</button>
            </ion-card>
            <ion-card color="dark">
                <button [disabled]="enigma.status" ion-button outline color="nigma" block (click)="resolverEnigma()">Resolver Enigma</button>
            </ion-card>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>

<audio id="errou">
  <source src="assets/music/error.mp3" type="audio/mpeg">
</audio>
<audio id="acertou">
  <source src="assets/music/acertou.mp3" type="audio/mpeg">
</audio>
